.menu{
    background: pink;
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.menu span{
    width: 100px;
    height: 30px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin : 1px solid white;
}

.menu span:hover {
    background:green;
    color: white;
}

.menu > span:hover >.menu.sub-menu{
    position: absolute;
    top: 100%;

    opacity: 1;
    visibility: visible;
}

.menu.sub-menu>span:hover > .menu.sub-menu{
    position: absolute;
    left:100%;
    top:0;
    transform: none;
    opacity: 1;
    visibility: visible;
}
.menu.sub-menu{
    display: block;
    width: 100px;
    opacity: 0;
    visibility: hidden;
    background: transparent;
}
.menu.sub-menu span{
    display: block;
    margin: 1px;
    position: relative;
    background: green;
}
