
    <div class="container">
    <form action="/question/add" method="post" , name="form">
        <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
        <textarea class="form-control" maxlength="200px" rows="6" id="question" name="question" onkeyup="return displayWordCounter();"></textarea>        
        
        <div class="total_count">Total remaining Charatctor:
            <input class="show_count" name="totalWordLimit" size="4" readonly="" value="200" type="text">
        </div>
        <button class="btn btn-primary" type="submit" id="btn_ask">Gửi</button>
      </form>
    </div>

    <script>

      var setTotalNumberOfWordCounter = "200";

      function displayWordCounter(){
    var getTextValue = document.frm.dd_fc_comment.value; 
    var getTextLength = getTextValue.length;  
    if(getTextLength > setTotalNumberOfWordCounter){     
            getTextValue = getTextValue.substring(0,setTotalNumberOfWordCounter);
            document.frm.dd_fc_comment.value =getTextValue;
            return false;
    }
    document.form.totalWordLimit.value = (setTotalNumberOfWordCounter-getTextLength);
       
    }
        
    </script>
     
