
    <div class="container">
    <form action="/question/add" method="post">
        <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
        <textarea class="form-control" maxlength="200" rows="6" id="question" name="question" onkeyup="return displayWordCounter();"></textarea>        
        <p>Con <span id="remain">200 </span> / 200 ky tu</p>
        <button class="btn btn-primary" type="submit" id="btn_ask">Gửi</button>
      </form>
    </div>

    <script>
      let char = 200;
      function displayWordCounter(){
      
      document.getElementById("question").addEventListener("input",function(){
        document.getElementById("remain").innerText = char - document.getElementById("question").value.length;
      });
       
      }
        
    </script>
     
