    <div class="container">
      {{!-- action="/question/add" method="post" --}}
    <form id="questionForm"> 
        <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
        <textarea class="form-control" maxlength="200" rows="6" id="question" name="quest" ></textarea>        
        <p>Con <span id="remain">200 </span> / 200 ky tu</p>
        <button class="btn btn-primary" type="submit" id="btn_ask">Gửi</button>
      </form>
    </div>

    <script>
      let char = 200;

     $("#question").on("input",function(){
        let s = char - $("#question").val().length;
        $("#remain").text(s);
      });

  $("#questionForm").on("submit",function(event){
    event.preventDefault();//Ngan viec submit tu dong vua form
    $.ajax({
      url : '/api/addQuestion',
      type : 'POST',
      data: $("#question").serialize(),
      success: function(body){
        
        if(body.success){
          window.location.href = "/question/" +body.questionId;
        }else{
          alert("Loi roi: 1");
        }
      },
      error : function(body){
        console.log(body);
        alert("Loi roi: 2");
      }

    });
  });



     
        
    </script>
     
