
    <div class="container">
  <h1 class="text-center" id="text_question">{{question.content}}</h1>
  <form method="get">
    <div class="row text-center" id="btn_answer">
      <div class="col-md-6">
        <button  class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-thumbs-down"></span>
           <a href="/answer/{{question.id}}/no">Sai / Không / Trái</a>
         </button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary btn-lg" >
          <span class="glyphicon glyphicon-thumbs-up"></span>
           <a href="/answer/{{question.id}}/yes">Đúng / Có / Phải</a>
         </button>
      </div>
    </div>
    <div class="row text-center" id="btn_chuyen">
      <button class="btn btn-default" ><a href="http://localhost:8989/question/{{question.id}}">Kết quả vote</a></button>
      <button  class="btn btn-default" ><a href="/">Câu hỏi khác</a></button>
    </div>
  </form>
</div>
