<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="1.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> <!-- Optional theme --> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> <!-- Latest compiled and minified JavaScript --> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title>Answer</title>
</head>
<body>
    <div class="container">
  <h1 class="text-center" id="text_question">{{string}}</h1>
  <form action="/api/question/38" method="post">
    <div class="row text-center" id="btn_answer">
      <div class="col-md-6">
        <button type="submit" class="btn btn-danger btn-lg" name="btn_yesno" value="no">
          <span class="glyphicon glyphicon-thumbs-down"></span>
           Sai / Không / Trái
         </button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary btn-lg" name="btn_yesno" value="yes">
          <span class="glyphicon glyphicon-thumbs-up"></span>
           Đúng / Có / Phải
         </button>
      </div>
    </div>
    <div class="row text-center" id="btn_chuyen">
      <button type="submit" class="btn btn-default" name="btn_yesno" value="ketquavote">Kết quả vote</button>
      <button type="submit" class="btn btn-default" name="btn_yesno" value="cauhoikhac">Câu hỏi khác</button>
    </div>
  </form>
</div>
</body>
</html>