<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fast Question</title>

    <link rel="stylesheet" href="1.css">
</head>

<body>
    <nav class="menu">
        <a href="">Quyết Đế:!!!</a>
        <a href="/ask">Hỏi Nhanh</a>
        <a href="file:///E:/TheCong/BUOI5/nav.html">Đáp gọn</a>
    </nav>
    <div class="container">
    <form action="/api/question/" method="post">
        <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
        <textarea class="form-control" maxlength="200" rows="12" id="question" name="question"></textarea>
        <p class="text-muted" id="counter">Còn 200/200 kí tự</p>
        <button class="btn btn-primary" type="submit" id="btn_ask">Gửi</button>
      </form>
    </div>
</body>

</html>