<div class="container">
    <form name="player" id="form" action="/playscreen" method="POST">
        <input type="text" placeholder="Player 1" class="col-sm-12" name="player1">
        <input type="text" placeholder="Player 2" class="col-sm-12" name="player2">
        <input type="text" placeholder="Player 3" class="col-sm-12" name="player3">
        <input type="text" placeholder="Player 4" class="col-sm-12" name="player4">
        <button type="submit" class="btn" >CREATE NEW GAME</button>
    </form>
</div>

{{!-- <script>
    let player1 = $("#player1").val();
    let player2 = $("#player1").val();
    let player3 = $("#player1").val();
    let player4 = $("#player1").val();

</script> --}}